.user{
    display:flex;
    flex-direction: column;
    justify-self: right;
    /* margin-right: auto; */
    width: fit-content;
    margin-left: 4px;
}
.rootOfUser{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.rootOfPosts{
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
}
.post{
    width: 90%;
    margin: 5px auto;
}
.user__information{
    display: flex;
    flex-direction: column;
    width: fit-content;
}